.stat {
	width:auto;
	float:left;
	padding-right:1em;
}
.stat-bar{
	display:flex;
	width:100%;
	flex-flow:wrap;
}
.creature-content{
	width:100%;
	display:flex;
}
.creature-column{
	width: 48%;
	padding: 1%;
	padding-left:2em;
}

.creature-column h3, h4 {
	font-family: 'Garamond';
	padding: 0;
	margin: 0.25em;
}
