:root {
	/*to use the custom colors type "var(--color-name)"*/
	--charcoal: #262626;
	--off-white: #E7E7E7;
	--blue: #1E8BB2;
	--green: #32A83E;
	--crimson: #AE1D20;
	--darkcrimson: #731315;
}
.main-container {
	display: flex;
	width: 90vw;
}

.lookup-container {
	margin: 10vh 5vw 5vh 5vw;
	width: 25vw;
}

.lookup-container input{
	width:18vw;
	text-align: center;
	font-size: 3vh;
	font-family: 'Garamond';
}

.spell-pane {
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	max-height:80vh;
	overflow: auto;
}


.lookup-card{
	width: 20vw;
	margin-top: 1vh;
	margin-left: calc(calc(72vw - 48vw - 18px * 2) * 0.1);
	text-align: center;
	font-size: 2vh;
	font-family: 'Garamond';
	background-color: var(--darkcrimson);
	color: var(--off-white);
	cursor: pointer;
}

.spell-sheet {
	/* background-image: url("../assets/scroll.png");
	background-position: center top;
	background-repeat: no-repeat; */
	margin-top:10vh;
	width: 50vw;
	background-color: var(--off-white);
	border-style: solid;
	border-width: 5px;
	border-color: var(--darkcrimson);
	display:flex;
	max-height: 60vh;
	overflow: auto;
}

.spell-column {
	text-align:left;
	width: 100%;
	padding:1.0vw;
}

.spell-column strong, .spell-column p {
	display: inline;
}
