:root{
	/*to use the custom colors type "var(--color-name)"*/
	--charcoal: #262626;
	--off-white: #E7E7E7;
	--sky-blue: #23C4FF;
	--bright-green: #3FD453;
	--crimson: #AE1D20;
	--darkcrimson: #731315;
}

.main-container-player {
  width:100vw;
  height:100vh;
  margin:0;
}

.party-container {
  float:left;
  width:70vw;
  height:40vh;
  background-color:var(--off-white);
}

.party-header{
  padding:0.5em;
  padding-left:1em;
  margin:0;
  color:var(--off-white);
  background-color:var(--darkcrimson);
  box-shadow: 0px 0px 1em rgba(0,0,0,0.5);
}

.chat-box {
  float:right;
  position:sticky;
  width:30vw;
  height:100vh;
  margin: 0;
  grid-column: col-start 2/2;
  grid-row: 2;
  background-color:var(--off-white);
  box-sizing: border-box;
  border-left:lightgray dotted 1px;
}

.chat-log {
  margin:1em;
  box-shadow: inset 0px 0px 1em rgba(0,0,0,0.2);
  overflow:auto;
  height: 70vh;
}

.chat-log p {
  padding:1em;
}

.chat-box input {
	width: 75%;
	margin-left: 2.5%;
	padding: 0.25em;
	padding-left: 0.5em;

}

.chat-box button {
	padding: 0.25em;
	width:15%;
}

.character-info {
  float:left;
  width:70vw;
}

.character-info h1 {
  margin:0;
  padding: 0.5em;
  padding-left: 1em;

  color:var(--off-white);
  background-color:var(--darkcrimson);
}
