:root {
  /*to use the custom colors type "var(--color-name)"*/
  --charcoal: #262626;
  --off-white: #E7E7E7;
  --blue: #1E8BB2;
  --green: #32A83E;
  --crimson: #AE1D20;
  --darkcrimson: #731315;
}

html, body {
  margin:0;
}

body {
  background-image: url("../images/brickdark.jpg");
  background-repeat: repeat;
}
